  <%= form_with url: "/register_admin", method: :post, local: true do |form| %>
    <%= form.label :name_of_admin %>
    <%= form.text_field :name %>
    <br>
    <%= form.label :email_of_admin %>
    <%= form.text_field :email %>
    <br>
    <%= form.submit 'Register Admin' %>
  <% end %>
</body>